<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
         border-color: #dc3545;
         color: #dc3545;
     }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/members/new" th:object="${memberDto}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="fieldError" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div class="form-group">
            <label th:for="email">아이디 (이메일)</label>
            <input type="email" th:field="*{email}" th:errorclass="fieldError" class="form-control" placeholder="아이디를 입력하세요">
            <p class="fieldError" th:errors="*{email}">error date</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" th:errorclass="fieldError" class="form-control" placeholder="비밀번호를 입력하세요">
            <p class="fieldError" th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" th:errorclass="fieldError" class="form-control" placeholder="이름을 입력하세요">
            <p class="fieldError" th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="con">연락처</label>
            <input type="number" th:field="*{con}" th:errorclass="fieldError" class="form-control" placeholder="연락처를 입력하세요">
            <p class="fieldError" th:errors="*{con}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input class="form-control" style="width: 40%; display: inline;" placeholder="우편번호" th:field="*{zipcode}" type="text" readonly="readonly" >
            <button type="button" class="btn btn-secondary" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button>
        </div>
        <div class="form-group">
            <input class="form-control" style="top: 5px;" placeholder="도로명 주소" th:field="*{street}" type="text" readonly="readonly" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="상세주소" th:field="*{details}" type="text"  />
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>